<div class="row">
  <div class="col-12">
    <h1>Customers List</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" (click)="openCustomerModal(false)"> Crear Customer </button>
  </div>
</div>

<div class="row">
  <div class="card-columns">
    <div class="card" *ngFor="let customer of customers">
      <cenfo-customer [customer]="customer" (success)="loadCustomers()" (deletedUser)="deteleUser($event)" ></cenfo-customer>
    </div>
  </div>
</div>
